NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_CHAIN_EVENTS_ADDRESS=0xYOUR_DEPLOYED_CHAIN_EVENTS_CONTRACT
NEXT_PUBLIC_CHAIN_EVENTS_DEPLOYMENT_BLOCK=0
SERVER_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
LOG_BLOCK_RANGE=9999
INDEX_CONFIRMATIONS=5
