NEXT_PUBLIC_CHAININVITE_ADDRESS=0x1fbeac0ceb060d39ab251eb39a0487c0ba2f2c1b
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_CHAININVITE_DEPLOYMENT_BLOCK=11097427
NEXT_PUBLIC_CHAININVITE_NFT_ADDRESS=0x2993789b32cdbee343c3f2ee6371f39e824b6f61
NEXT_PUBLIC_CHAININVITE_NFT_DEPLOYMENT_BLOCK=11100949
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
NEXT_PUBLIC_LOG_BLOCK_RANGE=9999
